.idea/**
.idea/**/*.xml
dbscripts/**.orig
**.lock
**.bin
**.properties
.gradle/**
out/
output/
web/WEB-INF/classes/
build
*.iml
*.ipr
*.iws
output/
lib/**
*.jar
.idea/gradle.xml
smartpool.iml
SmartPool.iml
SmartPool.war
.DS_Store
