.mainContainer{
    position: relative;left:50px;
}

.subContainer_Label {
    width: 200px;
    clear: both;
}

#nameLabel,#addressLabel,#contactLabel,#emailIdLabel,#pickupPointLabel{
    float: left;
}

#nameTextBox,#addressTextBox,#contactNumberTextBox,#emailIdTextBox,#pickupPointTextBox{
    margin-left: 300px;
    float: left;
}

#nameLabel,#nameTextBox{
    position: absolute;
    top:50px;

}

#addressLabel,#addressTextBox{
    position: absolute;
    top:150px;
}

#contactNumberLabel,#contactNumberTextBox{
    position: absolute;
    top:290px;
}

#emailIdLabel,#emailIdTextBox{
    position: absolute;
    top:350px;
}

#pickupPointLabel,#pickupPointTextBox{
    position: absolute;
    top:450px;
}

#pickupTimeLabel,#pickupTimeTextBox{
    position: absolute;
    top:550px;
}

.buttonContainer{
    margin-left: 400px;
    position: absolute;
    top: 550px;
}