.mainContainer .subContainer {
    width: 500px;
}

.mainContainer .subContainer span {
    width: 200px;
}

.mainContainer .subContainer span:last-child {
    clear: right;
}
.buttonContainer {
    margin-left: 230px;
    margin-top: 40px;
}
.fieldName{
    float: left;
    min-width: 200px;
}
