.mainContainer .subContainer {
    display: block;
    width: 500px;
}

.mainContainer .subContainer span {
    min-width: 200px;
    text-align: left;
    display: table-cell;
    padding-right: 20px;
}

.buttonContainer {
    margin-top: 150px;
}
.fieldName{
    float: left;
    min-width: 200px;
    height: 50px;
}
.fieldValue{
    float: left;
    min-width: 200px;
    height: 50px;
}
