.searchForm {
    margin-top: 10px;
    margin-bottom: 0px
}

.searchText {
    height: 26px !important;
    width: 170px;
    margin-top:-3px !important;
    vertical-align: middle;
}

.searchButton {
    height:26px;
    margin-top:-13px !important;
    vertical-align: middle;
}

.routePoints{
    position: absolute;
    top:155px;
    left:622px;
}

#search-result{
    width: 900px;
}


#routePointList{
    position: absolute;
    top: 52px;
    left: 158px;
}