body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

h1{
    margin-top: 40px;
    margin-bottom: 0;
}

h2{
    margin-top: 20px;
}

.navbar .navbar-inner .container .searchForm button{
    margin: -4px 0 0 0;
}

.navbar .navbar-inner .container button{
    margin: -5px 0 0 0;
    padding: 3px 5px;
}

.mainContainer {
    margin: 80px auto;
}

.mainContainer label{
    min-width: 200px;
    text-align: right;
    display: table-cell;
    padding-right: 20px;
}

.mainContainer span{
    display: table-row;
    vertical-align: middle;
    height: 40px;
}

.mainContainer input{
    text-align: left;
    width: 100%;
}

.mainContainer .example{
    font-weight: normal;
    font-size: small;
    text-align: left;
    padding-left: 20px;
}

.buttonContainer{
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
    margin-left: 145px;
}

.error{
    color: #cc0000;
    display: none;
    margin-top: -10px;
    margin-bottom: 10px
}

.header {
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    color: inherit;
    font-family: inherit;
    padding-top: 45px;
    margin-bottom: 40px;
    text-rendering: optimizelegibility;
}

button {
    font-size: 14px;
    color: #333333;
    background-color: #0099ff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22DDFF), to(#0099FF));
    background-image: -webkit-linear-gradient(top, #22DDFF, #0099FF);
    background-image: -o-linear-gradient(top, #22DDFF, #0099FF);
    background-image: linear-gradient(to bottom, #22DDFF, #0099FF);
    background-image: -moz-linear-gradient(top, #22DDFF, #0099FF);
    border-color: #22DDFF #11AAFF #0099FF;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 5px;
}

button:hover {
    background-image: none;
}

button.disabled {
    color: #333333;
    background-color: #e6e6e6;
}

.btn-small {
    font-size: 12px;
    padding: 2px 11px;
    line-height: 17px;
    height: 26px;
}

.navbar .container{
    min-width: 1200px;
}

.navbar.navbar-fixed-top .navbar-inner {
    min-height: 43px;
    padding-right: 20px;
    padding-left: 20px;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
}

.nav-collapse.collapse {
    height: auto;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 13px 5px 10px 5px;
    margin-right: 40px;
    font-size: 28px;
    font-weight: bolder;
    color: #eeeeee;
    text-shadow: 0 1px 0 #888888;
    vertical-align: middle;
}

.navbar-form input, .navbar-form select, .navbar-form .btn {
    display: inline-block;
}

.navbar-form{
    margin-top: 11px;
}

.navbar .nav > li > a {
    float: none;
    vertical-align: middle;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #91f39a;
    background-image: none;
    font-weight: bolder;
    -webkit-box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.125);
}

.navbar-logo {
    float: left;
    margin: 4px 0px;
    height: 35px;
}

label{
    font-size: 14px;
}

.warning{
    color: red;
}

.status-message{
    color: green;
}

input[type="text"] {
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    background-color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 27px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 4px 6px;
}

.center{
    text-align: center;
}

.big-arrow-sign{
    height: 25px;
    margin-bottom: 6px;
}

.small-arrow-sign{
    height: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
}

td, p, div, span{
    font-size: 14px;
}

th{
    font-size: 15px;
}
